<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/694px-Star_Wars_Logo.svg.png">
<h1>Search for People, Ships, Or Films through the SWAPI API</h1>
<!-- <h4>Basic mat-select</h4>
<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field> -->

<h4>Select What You Want To Search</h4>
<mat-form-field>
  <mat-label>Swapi</mat-label>
  <select matNativeControl required>
    <option value="people">People</option>
    <option value="ships">Ships</option>
    <option value="films">Films</option>
  </select>
</mat-form-field>


<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search People" value="">
  </mat-form-field>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search Ships" value="">
    </mat-form-field>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search Films" value="">
      </mat-form-field>
<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
